/* Admin container */
.admin-container {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  .shop-title {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .admin-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .logo img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  
  .profile {
    display: flex;
    align-items: center;
  }
  
  .profile-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .admin-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .nav-link {
    color: #fff;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  .search-bar {
    display: flex;
    align-items: center;
  }
  
  .search-bar input[type="text"] {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
  }
  
  .search-button {
    background-color: #007bff;
    border: none;
    color: #fff;
    padding: 8px;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
  }
  
  .search-button:hover {
    background-color: #0056b3;
  }
  
  /* User management */
  .user-management {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .user-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .user-table th,
  .user-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .user-table th {
    background-color: #007bff;
    color: #fff;
  }
  
  .user-table td img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  
  .user-table .blocked {
    background-color: #f8d7da;
  }
  
  .user-table .unblocked {
    background-color: #d4edda;
  }
  
  .edit-button,
  .delete-button,
  .block-button {
    padding: 8px 12px;
    margin-right: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .edit-button {
    background-color: #ffc107;
    color: #212529;
  }
  
  .delete-button {
    background-color: #dc3545;
    color: #fff;
  }
  
  .block-button {
    background-color: blue;
    color: #fff;
  }
  